<%= form_with(model: transmission, local: true) do |form| %>
  <% if transmission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transmission.errors.count, "error") %> prohibited this transmission from being saved:</h2>

      <ul>
      <% transmission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :altitude %>
    <%= form.text_field :altitude, id: :transmission_altitude %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :transmission_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :transmission_longitude %>
  </div>

  <div class="field">
    <%= form.label :temperature %>
    <%= form.text_field :temperature, id: :transmission_temperature %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
